.App {
  text-align: center;
}
.Full {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 50%;
  margin-left: 25%;
  flex-direction: column;
  align-items: center;
}

.boxInput {
  padding: 7px;
  font-size: 19px;
  border-width: 0px;
  border-color: #0d0dfc;
  background-color: white;
  color: #000000;
  border-style: solid;
  border-radius: 24px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(8, 8, 8, 0.66);
}

.button {
  display: flex;
  width: 60px;
  text-align: center;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: white;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}

.button:disabled {
  opacity: 0.5;
}

.myButton:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.list {
  display: flex;
  height: 100px;
  width: 100px;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 300px;
  height: 100px;
  -webkit-box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
    20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
    13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
    -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
    -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17;
  box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
    20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
    13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
    -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
    -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17;
  background: #20c467;
  border-radius: 20%;
  margin-top: 40%;
  justify-content: center;
}
